.error {
    color: red;
    font-size: 8px;
}

* {
    background-color: green;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input {
    
    padding: 12px;
    margin: 8px ;
    box-sizing: border-box;
}

.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px; 
    font: bold 15px arial, sans-serif; 
    text-shadow:none;  
}

.menu {
    width: 50%;
    border: 1px solid blue;
}

div.img {
    display:table;
    float: right;
    margin-right: 8%;
    margin-top: -1%;
}
div.img img {
    margin:0;
    padding:0;
    width: 160px;
    height: 160px;
    
}
div.img span {
    line-height:normal;
    font-size:11px;
    display:table-footer-group;
    margin:0;
    background:#772626;
    color:white;
    padding:5px;
    text-align:center;
}

img {
    margin:0;
    padding:0;
    width: 160px;
    height: 160px;
}

#fusu {
    display: block;
    margin:0;
    padding:0;
    width: 160px;
    height: 160px;
    margin-right: auto;
}

.correo, th, td {
    border: 1px solid black;
    padding: 2px;
}

#dato, td {
    text-align: center !important;
}

.center, .correo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    clear: both;
    color: black;
    text-align: center;
    width: 100%;
    padding: 1px;
    float: inline-end;
}

.mensaje {
    vertical-align: top; 
    height:200px; 
    width: 730px; 
    text-align: left;
}

.modificar {
    border: 0 !important;
}